################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/azure-functions/DevKitDevicesHubToADT/Properties/PublishProfiles/DevKitDevicesHubToADT20201210065322 - Zip Deploy.pubxml
/azure-functions/DevKitDevicesHubToADT/Properties
/azure-functions/AdtDevKitFunctions/Properties/PublishProfiles/DevKitDevicesHubToADT20201210065322 - Zip Deploy.pubxml
/azure-functions/AdtDevKitFunctions/Properties/ServiceDependencies/DevKitDevicesHubToADT20201210065322/profile.arm.json
/azure-functions/AdtDevKitFunctions/Properties/ServiceDependencies/DevKitDevicesHubToADT20201210065322 - Zip Deploy/profile.arm.json
