input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: medium;
}

input[type=text]{
  border-color: hsl(0, 0%, 80%);
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
  border-radius: 4px;
  margin: 8px 0;
  border-width: 1px;
  border-style: solid;
}

input[type=number]{
  border-color: hsl(0, 0%, 80%);
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
  border-radius: 4px;
  margin: 8px 0;
  border-width: 1px;
  border-style: solid;
}

p.cardCategory {
  color: "#999"; 
  margin: "0";
  font-size: "14px"; 
  margin-top: "0"; 
  padding-top: "10px"; 
  margin-bottom: "0";
}

h3.cardTitle 
  {
    color: "#3C4858";
    margin-top: "0px";
    min-height: "auto"; 
    font-weight: "normal";
    font-family: "'Roboto', 'Helvetica', 'Arial', 'sans-serif'";
    margin-bottom: "3px";
    text-decoration: "none";
  }
